.vscode
/.metadata/
.DS_Store

bin/mips_testbench
bin/mips_simulator

simulatorfiles/instructions.o
simulatorfiles/main.o
simulatorfiles/memory.o
simulatorfiles/.vscode
simulatorfiles/simulator.o

test/testbenchinitialiser.o
test/output/output.csv